# dependencies
node_modules
/packages/*/node_modules
/package-lock.json
/yarn.lock
/packages/*/package-lock.json
/packages/i18n/demo

# bundle files
/.dumi/tmp-production
/docs-dist
/es
/lib
/packages/*/dist
